/* Margin and Spacing */
body, h1, h2, h3, p, a, li, ul, ol {
	margin: 0;
	padding: 0
}
main {
	padding-bottom: 30px
}
.slim-container {
	width: calc(100% - 40px);
	max-width: 600px;
	display: block;
	margin: 0 auto;
	padding: 0 20px;
}
h1 {
	margin-bottom: 15px;
}
h2 {
	margin-bottom: 10px;
}
h3 {
	margin-top: 20px;
	margin-bottom: 7px;
	line-height: 150%;
}
p {
	margin-bottom: 8px;
	line-height: 170%;
}

/* Fonts */
/* Playfair Display */
@font-face {
	font-family: Playfair Display;
	font-weight: 400;
	src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
	font-family: Playfair Display;
	font-weight: 400;
	font-style: italic;
	src: url(../fonts/PlayfairDisplay-Italic.ttf);
}
@font-face {
	font-family: Playfair Display;
	font-weight: 700;
	src: url(../fonts/PlayfairDisplay-Bold.ttf);
}
@font-face {
	font-family: Playfair Display;
	font-weight: 700;
	font-style: italic;
	src: url(../fonts/PlayfairDisplay-BoldItalic.ttf);
}
/* Akkurat */
@font-face {
	font-family: Akkurat;
	font-weight: 400;
	src: url(../fonts/Akkurat-Regular.woff2);
}
@font-face {
	font-family: Akkurat;
	font-weight: 700;
	src: url(../fonts/Akkurat-Bold.woff2);
}
body {
	font-family: "Akkurat";
}
h1, h2 {
	font-family: "Playfair Display";
}

/* Sizing */
html {
	-webkit-text-size-adjust: 100%;
}
h1 {
	font-size: clamp(25px, 2.3vw, 32px);
}
h2 {
	font-size: clamp(20px, 2vw, 27px);
}
p, ul, li {
	font-size: 15px;
}
/* Palette */
:root {
	--light-grey: #cfcfcf;
	--text-light-grey: #747474;
	--grey: #4a4a4a;
	--dark-grey: #151515;
}
body, a {
	color: var(--grey)
}
p a, li a, h3 a {
	color: var(--dark-grey);
	box-shadow: inset 0 -8px 0 var(--light-grey)
}
p a:hover, li a:hover, h3 a:hover {
	color: #ffffff;
	box-shadow: inset 0 -20px 0 var(--dark-grey)
}

/* Misc */
a {
	cursor: pointer;
	transition: 0.2s;
	text-decoration: none;
}

hr {
	background-color: #ddd;
	margin-top: 0;
	margin-bottom: 30px;
	height: 1px;
	border: none
}

/* Post Styling */
.post {
	border-left: 5px solid var(--light-grey);
	padding-left: 20px;
	margin-bottom: 10px;
}

/* Tags styling */
.tags p {
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
	padding: 1px 10px 0px 10px;
	border-radius: 5px;
	background-color: var(--light-grey);
	color: var(--dark-grey);
	transition: 0.2s;
	margin-bottom: 5px
}
.tags p:hover {
	background-color: var(--dark-grey);
	color: var(--light-grey);
	cursor: default;
}